.btn-flat-border {
  display: inline-block;

  text-decoration: none;
  color: #cfcecc;
  border: solid 2px #cfcecc;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #cfcecc;
  color: white;
}

#dialog {
    display:none;
}
#dialogBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.05;
}
#dialogContent {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #dddddd;
    text-align: center;
    border: solid 1px;
}
